<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.butch.greenbirdoa.mapper.SexMapper">
<!--开启account支持二级缓存-->
<cache/>
<!-- 映射teacher的子查询,有缓存的情况下子查询拥有着更好的复用性-->
  <select id="getAllSex" resultType="Sex">
    select * from sex
  </select>
  <select id="getSexById" resultType="Sex">
      select * from sex where id=#{id}
  </select>
</mapper>