<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.butch.greenbirdoa.mapper.UserMapper">
  <!--开启二级缓存-->
  <cache />


  <!-- 映射UserMapper -->
  <resultMap id="User_Map" type="User">

    <result property="username" column="username" />
    <result property="password" column="password" />
    <result property="name" column="name" />
    <result property="address" column="address" />
    <result property="phone" column="phone" />
    <result property="salary" column="salary" />
    <result property="lastsign" column="lastsign" />
    <result property="absenteeism" column="absenteeism" />
    <!-- 引用外部mapper,拥有缓存所以子查询效率不会太差 -->
    <association property="fk_sex" column="fk_sex" javaType="Sex" 
    select="com.butch.greenbirdoa.mapper.SexMapper.getSexById"></association>

    <association property="fk_jurisdiction" column="fk_jurisdiction" javaType="Jurisdiction" 
    select="com.butch.greenbirdoa.mapper.JurisdictionMapper.getJurisdictionById" />

    <association property="fk_depart" column="fk_depart" javaType="Depart" 
    select="com.butch.greenbirdoa.mapper.DepartMapper.getDepartById" />
  </resultMap>

  <select id="getUserByUsername" resultMap="User_Map" parameterType="string">
    select * from user where username = #{username}
  </select>
  <select id="getAllUser" resultMap="User_Map">
    select * from user 
  </select>

  <!-- 不同角色权限能查询到的结果 -->
  <select id="getUsersByUser" resultMap="User_Map" parameterType="user">
    select * from user
    <where>
      <choose>
        <!-- 管理部门 -->
        <when test="fk_depart.id==4">
          fk_jurisdiction&lt;=#{fk_jurisdiction.id}
        </when>
        <!-- 人事部门 -->
        <when test="fk_depart.id==1">
          fk_jurisdiction&lt;=#{fk_jurisdiction.id} and fk_depart!=4
        </when>
        <!-- 其他普通部门 -->
        <otherwise>
          fk_jurisdiction&lt;#{fk_jurisdiction.id} and fk_depart=#{fk_depart.id} or username=#{username}
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>