<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.butch.greenbirdoa.mapper.UserMapper">
<!--开启account支持二级缓存-->
<cache/>
<!-- 映射teacher的子查询 -->
<resultMap id="fk_sex" type="Sex"></resultMap>
  <select id="getUserByUsername" resultType="User" parameterType="string">
    select * from user where username = #{username}
  </select>
</mapper>